body{
    background-color:#faf6f2;
    color: #683b2b;
  }
  .navbar-light .navbar-brand{
    color: #683b2b;
    font-family: 'Cabin Condensed', sans-serif;
  
  }
  .navbar-light .navbar-nav .nav-link {
    color: #683b2b;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 22px;
  }
  .navbar{
    padding-bottom: 50px;
  }
.navbar-brand img{
  border-radius: 15px;
}
.main-section img{
    float: right;
    border: 3px solid  #683b2b;
}
.main-section{
  background-color:  #ded1bd;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
a{
  color:#683b2b;
  font-family: 'Cabin Condensed', sans-serif;
  font: bolder;
}